/**************** general *******************/

body {
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Ariel, sans-serif;
	color: #999999;
	min-width: 600px;
	min-height: 500px;
}

.magnets {
	background-color: white;
}

/********** swapping backgrounds **************/

div.background {
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
}

div.background img {
	position:fixed;
	list-style: none;
	left:0px;
	top:0px;
}

div.background ul li.show {
	z-index:500
}